<div class="gifs">
    <div class="gif" ngFor="let gif of gifs">
        <img src="https://media.giphy.com/media/duzpaTbCUy9Vu/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/USV0ym3bVWQJJmNu3N/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/xT8qB2HYA1vVSxooSY/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/l0MYwONBGDS7aPGOk/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/W4nskUfzEmE647djT4/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/czP6nYK1q29KshWX8k/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/dkRbECUWpdEUSuxDaK/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/cMQLxbbQBIu8mz9B7V/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/1yn20nWimU9iQjvFgo/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/9S706ievhjXVfG9s9Q/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/VYigcWHmBDZ1tGsVru/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/vJljCJOIZUgSs/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/11SdI0nBdFdH4k/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/CS6YxDFlrCWmA/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/6cenCMsgQRyg0/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/fBG7UnBi7QtePFHEnk/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/aTXHpCN7TSpmE/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/i8MzuoLbTH0Sgzmxg9/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/b5SDlwdS6e6wHWh4oH/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/K9MPm9A3CaSkw/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/2wh8dIGFpOX6NpAkle/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/zytyfGxUs41O0/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/YRUxpeVXq1lvFbrWQZ/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/2aNG1emIDLWGIZ9G5z/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/KCZ4z5ntnBiASqxygL/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/3oKIPjzfv0sI2p7fDW/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/vbPzAifIrGycdxnvsO/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/z1h9rgwWt2ewfb5p81/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/BdCfAqLch27JbPFlFf/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/NsEU83HMPEM2ekYwCj/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/l49JTNDATP0adO8Xm/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/KHJw9NRFDMom487qyo/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/3o6vXUgk6M0h07MnuM/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/26tP3M3i03hoIYL6M/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/7055aYbIwCxH2/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/WcKsHCQ0YmWEFKn5Jc/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/3o6QLcNZgGKvFBluKs/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/cnhpl4IeYgU7MCBdV2/giphy.gif" alt="image">
        <img src="https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif" alt="image">
        
        

        
    </div>
</div>